// Define variables

$nav-text-color: whitesmoke;

// Define mixin for shared styles
@mixin navbar-link {
  display: block;
  padding: 10px;
  color: $nav-text-color;
  text-decoration: none;
}

// .navbar-links a:visited {
//   color: pink;
// }

// Define navbar styles
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: whitesmoke;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 10px;
  }
}

.navbar-links li:hover a {
  color: rgb(97, 233, 246);
text-shadow: 2px 2px 4px rgb(6, 130, 130);
}


// Define logo styles
// .navbar-logo {
//   font-size: 1.5em;
//   color: $nav-text-color;
// }

// Define nav links styles
.navbar-links {
  display: flex;
  list-style: none;
  margin-left: 2em;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  a {
    @include navbar-link;
  }
}